.vs-steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vs-steps__list {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  gap: 8px;
}

.vs-steps__item {
  align-items: center;
  display: flex;
  flex: 1 1 0;

  &[data-last] {
    flex: 0 1 0;
  }
}

.vs-steps__trigger {
  align-items: center;
  color: var(--vscode-descriptionForeground);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  gap: 8px;
  line-height: normal;

  &[data-current] {
    color: var(--vscode-editor-foreground);
  }
}

.vs-steps__indicator {
  align-items: center;
  border: solid 1px var(--vscode-descriptionForeground);
  border-radius: 2px;
  color: var(--vscode-descriptionForeground);
  display: inline-flex;
  font-size: 11px;
  font-weight: 500;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  padding: 0 0 1px 0;

  &[data-current] {
    background: var(--vscode-editor-foreground);
    border: solid 1px var(--vscode-editor-foreground);
    color: var(--vscode-editor-background);
  }
}

.vs-steps__separator {
  background: var(--vscode-descriptionForeground);
  flex: 1 1 0;
  height: 1px;
  margin: 0 0 0 8px;
  min-width: 20px;

  &[data-last] {
    display: none;
  }
}

.vs-steps__label {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  font-weight: 500;
}

.vs-steps__indicator-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
}

.vs-steps__content {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  padding: 8px 0;
}

.vs-steps__completed-content {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  padding: 8px 0;
}

.vs-steps__next-trigger,
.vs-steps__prev-trigger {
  background: transparent;
  border: 1px solid var(--vscode-button-border, transparent);
  color: var(--vscode-button-foreground);
  cursor: pointer;
  font-size: var(--vscode-font-size);
  padding: 4px 8px;

  &:disabled {
    cursor: default;
    opacity: 0.4;
  }
}

.vs-steps__hint {
  color: var(--vscode-descriptionForeground);
  font-size: var(--vscode-font-size);
}
