.vs-steps {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vs-steps--list {
  align-items: center;
  display: flex;
  flex: 1 1 0;
  gap: 8px;
}

.vs-steps--item {
  align-items: center;
  display: flex;
  flex: 1 1 0;

  &[data-last] {
    flex: 0 1 0;
  }
}

.vs-steps--trigger {
  align-items: center;
  color: var(--vscode-descriptionForeground);
  display: flex;
  font-size: 12px;
  font-weight: 500;
  gap: 8px;
  line-height: normal;

  &[data-current] {
    color: var(--vscode-editor-foreground);
  }
}

.vs-steps--indicator {
  align-items: center;
  border: solid 1px var(--vscode-descriptionForeground);
  border-radius: 2px;
  color: var(--vscode-descriptionForeground);
  display: inline-flex;
  font-size: 11px;
  font-weight: 500;
  justify-content: center;
  min-height: 24px;
  min-width: 24px;
  padding: 0 0 1px 0;

  &[data-current] {
    background: var(--vscode-editor-foreground);
    border: solid 1px var(--vscode-editor-foreground);
    color: var(--vscode-editor-background);
  }
}

.vs-steps--separator {
  background: var(--vscode-descriptionForeground);
  flex: 1 1 0;
  height: 1px;
  margin: 0 0 0 8px;
  min-width: 20px;

  &[data-last] {
    display: none;
  }
}
