:root {
  --design-unit: 4;
}

.state-disabled,
[data-disabled] {
  cursor: default;
  opacity: 0.4;
  pointer-events: none;
}

.vs-input-hidden-accessible {
  appearance: none;
  cursor: pointer;
  height: 100%;
  outline: none;
  position: absolute;
  width: 100%;
  z-index: 1;

  &.disabled {
    cursor: default;
  }

  &:focus {
    outline: none;
  }
}
