/*
  1. Inherit font styles in all browsers.
  2. Remove border radius in all browsers.
  3. Remove background color in all browsers.
  4. Ensure consistent opacity for disabled states in all browsers.
*/
.qui-textarea__textarea {
  background-color: transparent; /* 3 */
  border-radius: 0; /* 2 */
  color: inherit; /* 1 */
  font: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  opacity: 1; /* 4 */
  resize: vertical;
}
