.vs-tabs__root {
  --panel-tab-active-border: var(--vscode-panelTitle-activeBorder, #e7e7e7);
  --panel-tab-active-foreground: var(
    --vscode-panelTitle-activeForeground,
    #e7e7e7
  );
  --panel-tab-foreground: var(
    --vscode-panelTitle-inactiveForeground,
    #e7e7e799
  );
  --panel-view-background: var(--vscode-panel-background, #1e1e1e);
  --panel-view-border: var(--vscode-panel-border, #80808059);
}

.vs-tabs__list {
  border-bottom: 1px solid
    var(--vscode-dropdown-border, var(--vscode-tab-border));
  display: flex;
  gap: 24px;
  padding: 4px 0 0 0;
  position: relative;
}

.vs-tabs__indicator {
  background-color: var(--panel-tab-active-border);
  bottom: -1px;
  height: 1px;
  position: absolute;
  width: var(--width);

  &[data-orientation="vertical"] {
    height: var(--height);
    width: 1px;
  }
}

.vs-tabs__tab {
  border-bottom: solid 1px transparent;
  color: var(--panel-tab-foreground);
  font-size: 11px;
  line-height: normal;
  padding: 7px 0;
  position: relative;

  &:hover {
    color: var(--panel-tab-active-foreground);
  }

  &[data-active] {
    color: var(--panel-tab-active-foreground);
  }
}

.vs-tabs__tab-button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 0;

  &:focus-visible {
    outline: solid 1px var(--vscode-focusBorder);
  }
}

.vs-tabs__tab-dismiss-button {
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
  padding: 2px;

  &:hover {
    opacity: 1;
  }
}

.vs-tabs__panel {
  color: var(--vscode-foreground);
  font-size: var(--vscode-font-size);
  line-height: normal;
  padding: 10px 0;
}
