.qui-badge__root[data-scope="text-badge"] {
  color: var(--badge-text);
  background: var(--badge-background);
  border: solid var(--border-size, 0) var(--badge-border);
}

/* default variant */
.qui-badge__root[data-scope="text-badge"][data-variant="default"] {
  &[data-emphasis="neutral"] {
    --badge-background: var(--color-background-neutral-10);
    --badge-text: var(--color-text-neutral-inverse);
  }
  &[data-emphasis="brand"] {
    --badge-background: var(--color-background-brand-primary);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="info"] {
    --badge-background: var(--color-background-support-info);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="success"] {
    --badge-background: var(--color-background-support-success);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="warning"] {
    --badge-background: var(--color-background-support-warning);
    --badge-text: var(--color-utility-persistent-black);
  }
  &[data-emphasis="danger"] {
    --badge-background: var(--color-background-support-danger);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="blue"] {
    --badge-background: var(--color-category-blue-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="cyan"] {
    --badge-background: var(--color-category-cyan-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="green"] {
    --badge-background: var(--color-category-green-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="kiwi"] {
    --badge-background: var(--color-category-kiwi-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="magenta"] {
    --badge-background: var(--color-category-magenta-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="orange"] {
    --badge-background: var(--color-category-orange-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="purple"] {
    --badge-background: var(--color-category-purple-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="red"] {
    --badge-background: var(--color-category-red-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="teal"] {
    --badge-background: var(--color-category-teal-strong);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="yellow"] {
    --badge-background: var(--color-category-yellow-strong);
    --badge-text: var(--color-utility-persistent-black);
  }
}

/* subtle variant */
.qui-badge__root[data-scope="text-badge"][data-variant="subtle"] {
  &[data-emphasis="neutral"] {
    --badge-background: var(--color-background-support-neutral);
    --badge-text: var(--color-utility-persistent-white);
  }
  &[data-emphasis="brand"] {
    --badge-background: var(--color-background-brand-primary-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="info"] {
    --badge-background: var(--color-background-support-info-medium);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="success"] {
    --badge-background: var(--color-background-support-success-medium);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="warning"] {
    --badge-background: var(--color-background-support-warning-medium);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="danger"] {
    --badge-background: var(--color-background-support-danger-medium);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="blue"] {
    --badge-background: var(--color-category-blue-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="cyan"] {
    --badge-background: var(--color-category-cyan-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="green"] {
    --badge-background: var(--color-category-green-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="kiwi"] {
    --badge-background: var(--color-category-kiwi-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="magenta"] {
    --badge-background: var(--color-category-magenta-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="orange"] {
    --badge-background: var(--color-category-orange-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="purple"] {
    --badge-background: var(--color-category-purple-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="red"] {
    --badge-background: var(--color-category-red-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="teal"] {
    --badge-background: var(--color-category-teal-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
  &[data-emphasis="yellow"] {
    --badge-background: var(--color-category-yellow-subtle);
    --badge-text: var(--color-text-neutral-primary);
  }
}
