.qui-badge__root {
  &[data-size="xxs"] {
    --status-size: var(--sizing-40);
  }
  &[data-size="xs"] {
    --status-size: var(--sizing-40);
  }
  &[data-size="sm"] {
    --status-size: var(--sizing-50);
  }
  &[data-size="md"] {
    --status-size: var(--sizing-60);
  }
  &[data-size="lg"] {
    --status-size: var(--sizing-70);
  }
  &[data-size="xl"] {
    --status-size: var(--sizing-80);
  }
}

.qui-badge__root[data-scope="status-badge"] {
  background: var(--badge-background);
  border: solid var(--border-size, 0) var(--badge-background);
  border-radius: var(--border-radius-rounded);
  color: var(--badge-text);
  height: var(--status-size);
  min-width: var(--status-size);
  padding: 0;
  width: var(--status-size);

  &[data-emphasis="neutral"] {
    --badge-background: var(--color-background-support-neutral);
  }

  &[data-emphasis="brand"] {
    --badge-background: var(--color-background-brand-primary);
  }

  &[data-emphasis="info"] {
    --badge-background: var(--color-background-support-info);
  }

  &[data-emphasis="success"] {
    --badge-background: var(--color-background-support-success);
  }

  &[data-emphasis="warning"] {
    --badge-background: var(--color-background-support-warning);
  }

  &[data-emphasis="danger"] {
    --badge-background: var(--color-background-support-danger);
  }

  &[data-variant="outlined"] {
    background: transparent;
    border-width: 1px;
  }
}
