[data-theme="dark"] {
  .shiki.mdx,
  .shiki-code {
    span {
      font-weight: var(--shiki-dark-font-weight, 400);
    }
  }
}

[data-theme="light"] {
  .shiki.mdx,
  .shiki-code {
    span {
      font-weight: var(--shiki-light-font-weight, 400);
    }
  }
}

.shiki-code {
  padding: 16px;
}

.qui-docs-highlighter__root {
  border-radius: 6px;
  position: relative;

  &:hover {
    .qui-code-copy-button {
      display: inline-flex;
    }
  }

  pre {
    border-radius: 3px;
    font-family: var(--q-font-code-demo, var(--q-font-mono)), monospace;
    font-size: 14px;
    line-height: 18px;
    &.disable-padding {
      padding: 0;
    }
    &.has-title {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.qui-code-copy-button {
  display: none;
  position: absolute;
  right: 6px;
  top: 6px;
  z-index: 2;

  &[data-copied],
  &[data-force-show] {
    display: inline-flex;
  }

  &.has-title {
    top: 44px;
  }
}

.qui-demo-runner__collapse-icon {
  transition: transform 161ms ease;
  &.showing-panel {
    transform: rotate(180deg);
  }
}

.qui-demo-runner__title {
  align-items: center;
  border-radius: 6px;
  display: flex;
  min-height: 32px;
  padding: 0 16px;
  transition: border-radius 161ms ease;
  width: 100%;

  &.showing-panel {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.qui-popover__content {
  pre.shiki-code {
    background: var(--color-surface-overlay);
  }
}

pre.shiki-code {
  margin: 0;
  .qui-link__root {
    font: var(--font-static-code-sm-bold);
  }
}

pre.qui-docs-code.font-code-demo {
  .qui-link__root {
    font: var(--font-static-code-sm-bold);
  }
}

.qui-demo-runner__highlighted {
  background: var(--color-background-support-danger);
}

pre.shiki .indent {
  display: inline-block;
  left: var(--indent-offset);
  position: relative;
}

pre.shiki .indent:empty {
  height: 21px;
  vertical-align: bottom;
}

pre.shiki .indent::before {
  background-color: var(--color-border-neutral-01);
  content: "";
  height: 21px;
  position: absolute;
  width: 1px;
}

pre.shiki.has-diff {
  .line.diff.remove {
    opacity: 0.7;
    &::before {
      color: var(--color-icon-support-danger);
      content: "-";
      left: 3px;
      position: absolute;
    }
  }

  .line.diff.add {
    &::before {
      color: var(--color-icon-support-success);
      content: "+";
      left: 3px;
      position: absolute;
    }
  }
}

pre.shiki.has-highlighted {
  .line.highlighted {
    background: var(--color-interactive-background-ghost-hover);
    display: inline-block;
    width: 100%;

    &.error {
      background: var(--color-background-support-danger-medium);
    }
    &.warning {
      background: var(--color-background-support-warning-medium);
    }

    * {
      background: transparent;
    }
  }
}

pre.shiki.has-focused {
  .line:not(.focused) {
    filter: blur(0.095rem);
    opacity: 0.7;
    transition:
      filter 0.35s,
      opacity 0.35s;
  }
  &:hover {
    .line:not(.focused) {
      filter: unset;
      opacity: 1;
    }
  }
}

[data-theme] {
  pre.shiki {
    span.highlighted-word {
      background: var(--color-interactive-background-ghost-hover);
    }
  }
}
