.openapi-schema-property-heading {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--spacing-50);
  white-space: nowrap;
}

.openapi-schema-property-heading:has(+ .openapi-schema-property__children),
.openapi-schema-property-heading:has(+ .openapi-schema-property-rule) {
  margin-bottom: var(--spacing-50);
}

.openapi-schema-property-heading > * {
  margin-right: var(--spacing-50);
}

.openapi-schema-property-heading:last-child {
  margin-right: 0;
}

.openapi-schema-property-heading
  > .openapi-schema-property-detail:not(:last-of-type) {
  margin-right: 0;
}

.openapi-schema-property-heading__name {
  color: var(--color-text-neutral-primary);
  font: var(--font-static-code-sm-bold);
  max-width: 100%;
  overflow-wrap: break-word;
  white-space: normal;
}

.openapi-schema-property-heading__name[data-deprecated] {
  text-decoration: line-through;
}

.openapi-schema-property-heading__additional {
  font: var(--font-static-code-sm-default);
}

.openapi-schema-property-heading__required {
  color: var(--color-category-orange-strong);
  font: var(--font-static-body-xs-default);
}

.openapi-schema-property-heading__read-only {
  color: var(--color-category-blue-strong);
  font: var(--font-static-body-xs-default);
}

.openapi-schema-property-heading__write-only {
  color: var(--color-category-green-strong);
  font: var(--font-static-body-xs-default);
}

.openapi-schema-property-heading__discriminator {
  color: var(--color-category-purple-strong);
  font: var(--font-static-body-xs-default);
}

.openapi-schema-property-heading__const {
  color: var(--color-text-neutral-primary);
}
