.qui-popover__content {
  --arrow-size: 10px;
  background: var(--color-surface-overlay);
  border-radius: 4px;
  box-shadow: var(--shadow-high);
  color: var(--color-text-neutral-primary);
  display: flex;
  flex-direction: column;
  font: var(--font-static-body-xs-default);
  gap: var(--spacing-70);
  padding: var(--spacing-110);
  position: relative;
  transform-origin: var(--transform-origin);
  z-index: calc(var(--z-index-popover) + var(--layer-index));

  --arrow-background: var(--color-surface-overlay);

  &[data-emphasis="brand"] {
    --arrow-background: var(--color-background-brand-primary);
    background: var(--color-background-brand-primary);
    color: var(--color-utility-persistent-white);
  }

  &[hidden] {
    display: none;
  }
}

.qui-popover__arrow-tip {
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
}

.qui-popover__label {
  color: inherit;
  font: var(--font-static-heading-xxs-bold);
}

.qui-popover__description {
  align-items: flex-start;
  color: inherit;
  font: var(--font-static-body-xs-default);
  position: relative;
}

.qui-popover__close-trigger {
  position: absolute;
  right: 0;
  top: -20px;
}

.qui-popover__indicator {
  display: inline-flex;
  margin-inline-start: 4px;
}

.qui-popover__indicator[data-state="open"] {
  rotate: 90deg;
}
