.qui-tag__root {
  align-items: center;
  background: var(--tag-bg-base);
  border: solid 1px var(--tag-border-base);
  border-radius: var(--tag-radius);
  box-sizing: border-box;
  cursor: default;
  display: inline-flex;
  font: var(--font-static-body-xs-default);
  max-height: var(--tag-size);
  min-height: var(--tag-size);
  outline: none;
  padding: var(--spacing-30) var(--spacing-70);
  user-select: none;

  --tag-size: var(--sizing-90);
  --tag-radius: var(--border-radius-md);
  --tag-bg-base: transparent;
  --tag-bg-selected: transparent;
  --tag-border-base: var(--color-interactive-border-neutral-idle);
  --tag-border-selected: var(--tag-border-base);
  --icon-color: inherit;

  &[data-size="sm"] {
    --tag-size: var(--sizing-80);
    padding: 0 var(--spacing-70);
  }
  &[data-size="lg"] {
    --tag-size: var(--sizing-100);
    font: var(--font-static-body-sm-default);
    padding: 5px var(--spacing-80);
  }

  &[data-radius="rounded"] {
    --tag-radius: var(--border-radius-rounded);
  }

  &[data-emphasis="outline-brand"] {
    --tag-bg-base: var(--color-interactive-background-ghost-idle);
    --tag-bg-selected: var(--color-background-brand-primary);
    --tag-border-selected: var(--color-background-brand-primary);
    color: var(--color-interactive-text-primary-idle);

    &[data-variant="link"]:hover,
    &[data-variant="selectable"]:not([data-selected]):hover {
      color: var(--color-interactive-text-primary-hover);
    }

    &[data-variant="link"]:active {
      color: var(--color-interactive-text-primary-pressed);
    }
  }

  &[data-emphasis="outline-neutral"] {
    --tag-bg-base: var(--color-interactive-background-ghost-idle);
    --tag-bg-selected: var(--color-background-support-neutral);
    color: var(--color-text-neutral-primary);
  }

  &[data-emphasis="neutral"] {
    --tag-bg-base: var(--color-background-support-neutral-subtle);
    --tag-bg-selected: var(--color-interactive-background-neutral-idle);
  }

  &[data-emphasis="amber"] {
    --tag-bg-base: var(--color-category-amber-subtle);
    --tag-bg-selected: var(--color-category-amber-strong);
    --tag-border-base: var(--color-category-amber-medium);
    --tag-border-selected: var(--color-category-amber-strong);
  }

  &[data-emphasis="blue"] {
    --tag-bg-base: var(--color-category-blue-subtle);
    --tag-bg-selected: var(--color-category-blue-strong);
    --tag-border-base: var(--color-category-blue-medium);
    --tag-border-selected: var(--color-category-blue-strong);
  }

  &[data-emphasis="cyan"] {
    --tag-bg-base: var(--color-category-cyan-subtle);
    --tag-bg-selected: var(--color-category-cyan-strong);
    --tag-border-base: var(--color-category-cyan-medium);
    --tag-border-selected: var(--color-category-cyan-strong);
  }

  &[data-emphasis="teal"] {
    --tag-bg-base: var(--color-category-teal-subtle);
    --tag-bg-selected: var(--color-category-teal-strong);
    --tag-border-base: var(--color-category-teal-medium);
    --tag-border-selected: var(--color-category-teal-strong);
  }

  &[data-emphasis="green"] {
    --tag-bg-base: var(--color-category-green-subtle);
    --tag-bg-selected: var(--color-category-green-strong);
    --tag-border-base: var(--color-category-green-medium);
    --tag-border-selected: var(--color-category-green-strong);
  }

  &[data-emphasis="lime"],
  &[data-emphasis="kiwi"] {
    --tag-bg-base: var(--color-category-lime-subtle);
    --tag-bg-selected: var(--color-category-lime-strong);
    --tag-border-base: var(--color-category-lime-medium);
    --tag-border-selected: var(--color-category-lime-strong);
  }

  &[data-emphasis="yellow"] {
    --tag-bg-base: var(--color-category-yellow-subtle);
    --tag-bg-selected: var(--color-category-yellow-strong);
    --tag-border-base: var(--color-category-yellow-medium);
    --tag-border-selected: var(--color-category-yellow-strong);
  }

  &[data-emphasis="orange"] {
    --tag-bg-base: var(--color-category-orange-subtle);
    --tag-bg-selected: var(--color-category-orange-strong);
    --tag-border-base: var(--color-category-orange-medium);
    --tag-border-selected: var(--color-category-orange-strong);
  }

  &[data-emphasis="red"] {
    --tag-bg-base: var(--color-category-red-subtle);
    --tag-bg-selected: var(--color-category-red-strong);
    --tag-border-base: var(--color-category-red-medium);
    --tag-border-selected: var(--color-category-red-strong);
  }

  &[data-emphasis="magenta"] {
    --tag-bg-base: var(--color-category-magenta-subtle);
    --tag-bg-selected: var(--color-category-magenta-strong);
    --tag-border-base: var(--color-category-magenta-medium);
    --tag-border-selected: var(--color-category-magenta-strong);
  }

  &[data-emphasis="purple"] {
    --tag-bg-base: var(--color-category-purple-subtle);
    --tag-bg-selected: var(--color-category-purple-strong);
    --tag-border-base: var(--color-category-purple-medium);
    --tag-border-selected: var(--color-category-purple-strong);
  }

  &[data-emphasis="violet"] {
    --tag-bg-base: var(--color-category-violet-subtle);
    --tag-bg-selected: var(--color-category-violet-strong);
    --tag-border-base: var(--color-category-violet-medium);
    --tag-border-selected: var(--color-category-violet-strong);
  }

  &[data-variant="link"],
  &[data-variant="selectable"] {
    cursor: pointer;
  }

  &[data-variant="dismissable"] {
    padding-inline-end: 0;
  }

  /* interactive variants: hover */
  &[data-variant="link"]:hover,
  &[data-variant="selectable"]:hover {
    background:
      linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
      var(--tag-bg-base);
  }

  /* link variant: underline */
  &[data-variant="link"]:hover {
    text-decoration: underline;
  }

  /* link variant: pressed state */
  &[data-variant="link"]:active {
    background:
      linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
      var(--tag-bg-base);
  }

  /* selected */
  &[data-selected] {
    background: var(--tag-bg-selected);
    border-color: var(--tag-border-selected);
    color: var(--color-utility-persistent-white);
  }

  /* yellow selected needs black text */
  &[data-emphasis="yellow"][data-selected] {
    color: var(--color-utility-persistent-black);
  }

  /* selectable variant: selected + hover  */
  &[data-variant="selectable"][data-selected]:hover {
    background:
      linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
      var(--tag-bg-selected);
  }

  /* focus */
  &[data-variant="link"]:focus-visible,
  &[data-variant="selectable"]:focus-visible {
    border-color: var(--color-utility-focus-border);
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: -1px;
  }

  /* disabled */
  &[data-scope][data-disabled] {
    &:not([data-emphasis^="outline-"]) {
      background: var(--color-utility-disabled-background);
    }
    border-color: var(--color-utility-disabled-border);
    color: var(--color-utility-disabled-text);
    cursor: default;
    --icon-color: var(--color-utility-disabled-icon);
  }
}

.qui-tag__icon {
  color: var(--icon-color);
  &[data-scope="tag"][data-size] {
    --icon-size: var(--sizing-60);
  }
  &[data-scope="tag"][data-size="lg"] {
    --icon-size: var(--sizing-70);
  }
  &[data-part="start-icon"] {
    margin-inline-end: var(--spacing-50);
  }
  &[data-part="end-icon"] {
    margin-inline-start: var(--spacing-50);
  }
  .qui-tag__dismiss-button > &[data-part="end-icon"] {
    margin-inline-start: 0;
  }
}

.qui-tag__dismiss-button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 0 var(--tag-radius) var(--tag-radius) 0;
  color: var(--color-interactive-icon-neutral-idle);
  display: inline-flex;
  height: var(--tag-size);
  justify-content: center;
  margin-inline-start: var(--spacing-20);
  padding: 0;
  width: var(--tag-size);
  --icon-color: var(--color-interactive-icon-neutral-idle);

  &:hover {
    background: var(--color-interactive-background-ghost-hover);
  }
  &:active {
    background: var(--color-interactive-background-ghost-pressed);
  }
  &:focus-visible {
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: -1px;
  }
  &[data-disabled] {
    color: var(--color-utility-disabled-icon);
    cursor: default;
    pointer-events: none;
    --icon-color: var(--color-utility-disabled-icon);
  }
}
