.qui-method-button {
  min-width: 90px;

  &.q-teal {
    background-color: var(--color-category-teal-medium);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--color-category-teal-strong);
    }
  }

  &.q-purple {
    background-color: var(--color-category-purple-medium);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--color-category-purple-strong);
    }
  }

  &.q-lime {
    background-color: var(--color-category-lime-medium);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--color-category-lime-strong);
    }
  }

  &.q-orange {
    background-color: var(--color-category-orange-medium);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--color-category-orange-strong);
    }
  }

  &.q-method-get {
    background-color: var(--color-category-green-medium);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--color-category-green-strong);
    }
  }

  &.q-method-put {
    background-color: var(--color-category-yellow-medium);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--color-category-yellow-strong);
    }
  }
}
