.vs-dropdown {
  background: var(--vscode-menu-background);
  border: solid 1px var(--vscode-editorHoverWidget-border);
  box-shadow: var(--vscode-widget-shadow);
  display: block;
  min-width: 160px;
  outline: 0;
  padding: 4px;
  z-index: 3000;
}
