.qui-switch__root {
  align-items: center;
  -webkit-box-align: center;
  column-gap: var(--spacing-70);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
  vertical-align: top;

  --switch-color-transition:
    color 130ms ease-out, background-color 130ms ease-out;

  &:hover {
    cursor: pointer;
  }

  &[data-disabled] {
    cursor: unset;
    user-select: none;
  }

  &:has([data-part="error-text"][data-invalid]) {
    row-gap: var(--spacing-70);
  }
}

.qui-switch__control {
  align-items: center;
  background: var(--color-background-neutral-00);
  border: var(--border-width-sm, 1px) solid var(--color-border-neutral-03);
  border-radius: var(--border-radius-rounded);
  box-sizing: border-box;
  display: inline-flex;
  height: var(--sizing-90);
  justify-content: center;
  max-width: 44px;
  min-width: 44px;
  padding: 3px;
  position: relative;
  transition: var(--switch-color-transition);

  &[data-size="sm"] {
    height: var(--sizing-80);
    max-width: 36px;
    min-width: 36px;
  }

  &[data-focus-visible] {
    border-color: var(--color-interactive-border-neutral-hover);
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: 1px;
  }

  &[data-state="checked"] {
    background: var(--color-interactive-background-primary-idle);
    border-color: var(--color-interactive-background-primary-idle);

    &[data-hover] {
      background: var(--color-interactive-background-primary-hover);
      border-color: var(--color-interactive-background-primary-hover);
    }

    &[data-disabled] {
      background: var(--color-utility-disabled-background);
      border-color: var(--color-utility-disabled-border);
      color: var(--color-utility-disabled-text);
    }
  }

  &[data-invalid][data-state="unchecked"] {
    border-color: var(--color-interactive-border-danger-idle);

    &[data-hover] {
      border-color: var(--color-interactive-border-danger-hover);
    }
  }

  &[data-disabled] {
    border-color: var(--color-utility-disabled-border);
  }
}

.qui-switch__thumb {
  background-color: var(--color-background-neutral-10);
  border-radius: 50%;
  height: 18px;
  left: 3px;
  position: absolute;
  transition: transform 130ms ease-out;
  width: 18px;

  &[data-size="sm"] {
    height: 14px;
    width: 14px;

    &[data-state="checked"] {
      transform: translateX(15px);
    }
  }

  &[data-state="checked"] {
    background-color: var(--color-utility-persistent-white);
    transform: translateX(18px);
  }

  &[data-invalid][data-state="unchecked"] {
    background-color: var(--color-interactive-text-danger-idle);

    &[data-hover] {
      background-color: var(--color-interactive-text-danger-hover);
    }
  }

  &[data-disabled] {
    background-color: var(--color-utility-disabled-text);
  }
}

.qui-switch__label {
  color: var(--color-text-neutral-primary);
  flex: 1;
  font: var(--font-static-body-sm-default);

  &[data-disabled] {
    color: var(--color-utility-disabled-text);
  }
}
