button {
  cursor: pointer;
  &:disabled,
  [data-disabled] {
    cursor: initial;
  }
}

/* Make elements with the HTML hidden attribute stay hidden by default. */
[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}
