.qui-page-link__container {
  color: var(--color-text-neutral-primary);
  display: inline-flex;
  flex-direction: column;
  font: var(--font-static-body-sm-default);
  justify-content: center;
  white-space: nowrap;
}

.qui-page-link__root {
  border: solid 1px var(--color-border-neutral-01);
  border-radius: var(--border-radius-sm);
  color: inherit;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 16px;
  text-decoration: inherit;
  transition: background var(--animation-duration-faster) ease;
  width: 100%;

  &[data-next] {
    align-items: flex-end;
  }

  &:hover {
    background: var(--color-interactive-background-ghost-hover);
  }
}

.qui-page-link__adjacent-route-title {
  color: var(--color-text-neutral-secondary);
  font: var(--font-static-body-sm-bold);
  padding-left: 20px;
  &[data-next] {
    align-self: flex-end;
    padding-left: 0;
    padding-right: 20px;
  }
}

.qui-page-links__container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-top: 64px;
}

.qui-docs__updated-on-wrapper + .qui-page-links__container {
  margin-top: 0;
}

.qui-docs__updated-on-wrapper {
  margin-bottom: 32px;
  margin-top: 64px;
}

.qui-page-links__link-wrapper {
  display: flex;
  flex: 1;
}
