@import "@qualcomm-ui/qds-core/styles/components.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css" layer(components);

:root {
  color: var(--color-text-neutral-primary);
  color-scheme: light dark;

  font-family: "Roboto Flex", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  --q-font-mono: "Roboto Mono", monospace;
  --qui-header-height: 48px;
  --q-font-family: "Roboto Flex", sans-serif;
}

.font-mono {
  font-family: "Source Code Pro", "Roboto Mono", monospace;
}

.q-header--content {
  padding: 6px 12px;
}

body {
  background: var(--color-background-neutral-00);
  display: flex;
  margin: 0;
  padding: 0;
}
