.vs-input {
  background: var(--vscode-input-background);
  border: 1px solid transparent;
  color: var(--vscode-input-foreground);
  font-size: var(--vscode-font-size);
  font-weight: 500;
  min-height: 24px;
  outline: none;
  padding: 0 4px;

  &:focus-visible {
    border: 1px solid var(--vscode-focusBorder);
  }

  &::placeholder {
    color: var(--vscode-input-placeholderForeground);
  }
}
