.qui-listbox__content {
  outline: none;
}

.qui-listbox__label {
  color: var(--color-text-neutral-secondary);
  font: var(--font-static-body-xs-default);

  &[data-disabled] {
    color: var(--color-utility-disabled-text);
  }
}
