@import "tailwindcss";
@import "@qualcomm-ui/tailwind-plugin/qui-strict.css";

@import "@qualcomm-ui/qds-core/styles/components.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css" layer(components);

* {
  font-family: sans-serif !important;
}
