.openapi-method {
  align-items: center;
  border-radius: var(--border-radius-sm);
  display: inline-flex;
  font: var(--font-static-code-sm-bold);
  padding: var(--spacing-30) var(--spacing-50);
  text-transform: uppercase;
}

.openapi-method[data-method="get"] {
  background-color: var(--color-category-green-subtle);
  color: var(--color-category-green-strong);
}

.openapi-method[data-method="post"] {
  background-color: var(--color-category-blue-subtle);
  color: var(--color-category-blue-strong);
}

.openapi-method[data-method="put"] {
  background-color: var(--color-category-orange-subtle);
  color: var(--color-category-orange-strong);
}

.openapi-method[data-method="delete"] {
  background-color: var(--color-category-red-subtle);
  color: var(--color-category-red-strong);
}

.openapi-method[data-method="patch"] {
  background-color: var(--color-category-purple-subtle);
  color: var(--color-category-purple-strong);
}

.openapi-method[data-method="options"] {
  background-color: var(--color-category-cyan-subtle);
  color: var(--color-category-cyan-strong);
}

.openapi-method[data-method="head"] {
  background-color: var(--color-category-teal-subtle);
  color: var(--color-category-teal-strong);
}
