/* normal padding */

.qui-accordion__root {
  --accordion-trigger-padding-inline: 16px;
  --accordion-content-padding-inline-start: 16px;
  --accordion-content-padding-inline-end: 48px;
  --accordion-content-padding-block-start: 8px;
  --accordion-content-padding-block-end: 24px;
  --accordion-content-font: var(--font-static-body-xs-default);

  &[data-size="sm"] {
    --accordion-trigger-padding-block: 7px;
    --accordion-trigger-font: var(--font-static-body-xs-bold);
    --accordion-trigger-gap: var(--spacing-80);
    --accordion-trigger-secondary-font: var(--font-static-body-xs-default);
  }
  &[data-size="md"] {
    --accordion-trigger-padding-block: 10px;
    --accordion-trigger-font: var(--font-static-body-sm-bold);
    --accordion-trigger-gap: var(--spacing-90);
    --accordion-trigger-secondary-font: var(--font-static-body-xs-default);
  }
  &[data-size="lg"] {
    --accordion-trigger-padding-block: 12px;
    --accordion-trigger-font: var(--font-static-body-md-bold);
    --accordion-trigger-gap: var(--spacing-100);
    --accordion-trigger-secondary-font: var(--font-static-body-sm-default);
  }
}

/* uncontained padding */

.qui-accordion__root[data-uncontained] {
  --accordion-content-padding-inline-start: 0;
  --accordion-content-padding-inline-end: 0;
}

.qui-accordion__item {
  &:not(:first-child) {
    border-top: solid 1px var(--color-border-neutral-01);
  }
}

/* starting indicator padding (normal & uncontained) */

.qui-accordion__item:has(
  .qui-accordion__item-trigger > [data-part="indicator"] + [data-part="title"]
) {
  .qui-accordion__root:not([data-uncontained]) & {
    --accordion-content-padding-inline-start: 48px;
    --accordion-content-padding-inline-end: 16px;
  }

  [data-uncontained] & {
    --accordion-content-padding-inline-start: 32px;
  }
}

.qui-accordion__icon {
  &:has(+ .qui-accordion__item-trigger-indicator) {
    display: none;
  }
}

.qui-accordion__item-trigger {
  align-items: center;
  background-color: var(--color-interactive-background-ghost-idle);
  border: 0 solid;
  box-sizing: border-box;
  color: var(--color-interactive-text-neutral-idle);
  column-gap: var(--accordion-trigger-gap);
  cursor: pointer;
  display: flex;
  font: var(--accordion-trigger-font);
  justify-items: start;
  margin: 0;
  padding-block: var(--accordion-trigger-padding-block);
  padding-inline: var(--accordion-trigger-padding-inline);
  position: relative;
  text-align: start;
  width: 100%;
  z-index: 1;

  .qui-accordion__root[data-uncontained] & {
    padding-inline: 0;
  }

  &[data-disabled] {
    color: var(--color-utility-disabled-text);
    cursor: not-allowed;
  }

  &:not([data-disabled]) {
    &:hover {
      background-color: var(--color-interactive-background-ghost-hover);
      color: var(--color-interactive-text-neutral-hover);
    }
    &:active {
      background-color: var(--color-interactive-background-ghost-pressed);
      color: var(--color-interactive-text-neutral-pressed);
    }
    &:focus-visible {
      box-shadow:
        inset 0 0 0 1px var(--color-utility-focus-border),
        0 0 0 1px var(--color-utility-focus-border);
      outline: none;
    }
  }
}

.qui-accordion__item-text {
  flex: 1;
}

.qui-accordion__item-trigger-secondary {
  color: var(--color-text-neutral-secondary);
  font: var(--accordion-trigger-secondary-font);

  &[data-disabled] {
    color: var(--color-utility-disabled-text);
  }
}

.qui-accordion__item-trigger-indicator {
  grid-column: indicator;
  transform: rotate(0deg);
  transition: transform var(--animation-duration-fast) ease-in-out;

  &[data-state="open"] {
    transform: rotate(180deg);
  }
}

.qui-accordion__item-content-animator {
  color: var(--color-text-neutral-primary);
  font: var(--accordion-content-font);
}

.qui-accordion__item-content-body {
  padding-block: var(--accordion-content-padding-block-start)
    var(--accordion-content-padding-block-end);
  padding-inline: var(--accordion-content-padding-inline-start)
    var(--accordion-content-padding-inline-end);
}
