.qui-slider__root {
  --slider-track-thickness: var(--sizing-30);

  &[data-size="sm"] {
    --slider-thumb-size: var(--sizing-50);
  }
  &[data-size="md"] {
    --slider-thumb-size: var(--sizing-70);
  }

  --slider-label-color: var(--color-text-neutral-secondary);
  --slider-track-color: var(--color-background-neutral-04);
  --slider-marker-color: var(--color-text-neutral-primary);

  &[data-variant="primary"]:not([data-disabled]) {
    --slider-thumb-color: var(--color-interactive-background-primary-idle);
    --slider-range-color: var(--color-background-brand-primary);
    --slider-thumb-color-hover: var(
      --color-interactive-background-primary-hover
    );
    --slider-thumb-color-active: var(
      --color-interactive-background-primary-pressed
    );
  }
  &[data-variant="neutral"]:not([data-disabled]) {
    --slider-thumb-color: var(--color-interactive-background-neutral-idle);
    --slider-range-color: var(--color-background-support-neutral);
    --slider-thumb-color-hover: var(
      --color-interactive-background-neutral-hover
    );
    --slider-thumb-color-active: var(
      --color-interactive-background-neutral-pressed
    );
  }
  &[data-invalid]:not([data-disabled]) {
    --slider-thumb-color: var(--color-interactive-background-danger-idle);
    --slider-range-color: var(--color-background-support-danger);
    --slider-thumb-color-hover: var(
      --color-interactive-background-danger-hover
    );
    --slider-thumb-color-active: var(
      --color-interactive-background-danger-pressed
    );
  }
  &[data-disabled] {
    --slider-thumb-color: var(--color-utility-disabled-background);
    --slider-track-color: var(--color-utility-disabled-background);
    --slider-range-color: var(--color-utility-disabled-background);
    --slider-label-color: var(--color-utility-disabled-text);
    --slider-marker-color: var(--color-utility-disabled-text);
  }
  &[data-readonly] {
    --slider-track-color: var(--color-utility-disabled-background);
    --slider-label-color: var(--color-utility-disabled-text);
    --slider-marker-color: var(--color-utility-disabled-text);
  }
  align-items: center;
  display: grid;
  isolation: isolate;
  touch-action: none;

  width: 100%;

  &[data-orientation="horizontal"] {
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: [label] auto [control] auto [markers] auto [hint error] auto;
    --row-gap: 6px;
  }
  &[data-orientation="vertical"] {
    grid-template-columns: [label control] 1fr [value markers] 1fr;
    grid-template-rows: auto auto 1fr auto;
  }
}

.qui-slider__label,
.qui-slider__value-text {
  color: var(--slider-label-color);
  font: var(--font-static-body-xs-default);
  grid-row: label;
  width: fit-content;

  &[data-orientation="vertical"] {
    grid-row: 1;
  }
}

.qui-slider__label {
  grid-column: 1 / 3;

  &[data-orientation="vertical"] {
    grid-column: 1;
  }
}

.qui-slider__value-text {
  grid-column: -1 / -3;
  justify-self: end;

  &[data-orientation="vertical"] {
    grid-column: 2;
  }
}

.qui-slider__minMaxMarker {
  color: var(--slider-marker-color);
  font: var(--font-static-body-xs-default);
  grid-row: control;
  margin-block-start: var(--row-gap);
  user-select: none;
}

.qui-slider__root :nth-child(1 of .qui-slider__minMaxMarker) {
  grid-column: 1 / 2;
  margin-inline-end: 10px;

  &[data-orientation="vertical"] {
    grid-column: 1 / -1;
    grid-row: 2;
    justify-self: center;
    margin: 0;
  }
}

.qui-slider__root :nth-last-child(1 of .qui-slider__minMaxMarker) {
  grid-column: -2 / -1;
  margin-inline-start: 10px;

  &[data-orientation="vertical"] {
    grid-column: 1 / -1;
    grid-row: 4;
    justify-self: center;
    margin: 0;
  }
}

/** control parts start **/

.qui-slider__control {
  align-items: center;
  display: flex;
  flex-direction: row;
  grid-column: 2 / -2;
  grid-row: control;
  justify-content: center;
  &:not([data-disabled]) {
    cursor: pointer;
  }

  &[data-orientation="horizontal"] {
    height: var(--slider-thumb-size);
    margin-block-start: var(--row-gap);
  }

  &[data-orientation="vertical"] {
    grid-column: 1 / -1;
    grid-row: 3;
    height: 100%;
    justify-self: center;
    width: var(--slider-thumb-size);
  }
}

.qui-slider__thumb {
  aspect-ratio: 1;
  width: var(--slider-thumb-size);

  &[data-focus],
  &[data-dragging] {
    z-index: 1;
  }

  /* the actual thumb (to avoid scaling children) */
  &::before {
    background-color: var(--slider-thumb-color);
    border-radius: var(--border-radius-rounded);
    content: "";
    inset: 0;
    outline: var(--sizing-20) solid var(--color-border-neutral-00);
    position: absolute;
    transition:
      scale 130ms ease-in-out,
      background-color 130ms ease-in-out;
  }
  &:focus-visible::before {
    box-shadow: 0 0 0 4px var(--color-utility-focus-border);
  }
  &:not([data-disabled]):is(:hover, :active)::before {
    scale: 1.15;
  }
  &:not([data-disabled]):hover::before {
    background-color: var(--slider-thumb-color-hover);
  }
  &:not([data-disabled]):active::before {
    background-color: var(--slider-thumb-color-active);
  }

  /* hitbox */
  &::after {
    border-radius: var(--border-radius-rounded);
    bottom: -8px;
    content: "";
    left: -8px;
    position: absolute;
    right: -8px;
    top: -8px;
  }
}

.qui-slider__track {
  background-color: var(--slider-track-color);
  border-radius: var(--border-radius-rounded);
  overflow: hidden;

  &[data-orientation="horizontal"] {
    height: var(--slider-track-thickness);
    width: 100%;
  }
  &[data-orientation="vertical"] {
    height: 100%;
    width: var(--slider-track-thickness);
  }
}

.qui-slider__range {
  background-color: var(--slider-range-color);
  border-radius: inherit;

  &[data-orientation="horizontal"] {
    height: 100%;
  }
  &[data-orientation="vertical"] {
    width: 100%;
  }
}

/** control parts end **/

.qui-slider__marker-group {
  &[data-orientation="horizontal"] {
    height: 20px;
    margin-block-start: var(--row-gap);
    width: 100%;
  }
  &[data-orientation="vertical"] {
    grid-row: 3;
    height: 100%;
    justify-self: center;
    margin-inline-start: 28px;
  }
  color: var(--slider-marker-color);
  font: var(--font-static-body-xs-default);
  grid-column: 1 / -1;
  grid-row: markers;
}

.qui-slider__hint {
  color: var(--slider-label-color);
  font: var(--font-static-body-xs-default);
  grid-column: 1 / -1;
  grid-row: hint;
  margin-block-start: var(--row-gap);
}

.qui-slider__error-text {
  color: var(--color-text-support-danger);
  display: flex;
  font: var(--font-static-body-xs-default);
  gap: 6px;
  grid-column: 1 / -1;
  grid-row: error;
  margin-block-start: var(--row-gap);
}

.qui-slider__thumb-indicator {
  background-color: var(--color-background-neutral-10);
  border-radius: var(--border-radius-xs);
  box-shadow: var(--shadow-high);
  color: var(--color-text-neutral-inverse);
  font: var(--font-static-body-xs-default);
  width: max-content;
  padding-block: var(--spacing-40);
  padding-inline: var(--spacing-70);
  pointer-events: none;
  bottom: calc(100% + 12px);
  left: 50%;

  opacity: 0;
  display: none;
  transition:
    opacity 130ms ease-in-out,
    display 130ms ease-in-out allow-discrete;

  .qui-slider__thumb:not([data-disabled]):is(
      :hover,
      :active,
      :focus-visible,
      [data-dragging]
    )
    & {
    opacity: 1;
    display: block;
  }

  @starting-style {
    .qui-slider__thumb:not([data-disabled]):is(
        :hover,
        :active,
        :focus-visible,
        [data-dragging]
      )
      & {
      opacity: 0;
    }
  }

  /* arrow */
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: var(--color-background-neutral-10);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
}

/* Angular extra markup */

q-slider-markers,
q-slider-thumbs {
  display: contents;
}
