.vs-icon__root.codicon[class*="codicon-"] {
  animation-duration: var(--spin-duration) !important;
  display: inline;
  font-size: var(--vs-icon-size);
}

a,
button,
.action {
  &.vs-icon__root {
    border-color: transparent;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: currentColor;
    cursor: pointer;
    padding: 2px;

    &:focus,
    &:active {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--vscode-focusBorder);

      &.state-disabled {
        background-color: var(--vscode-button-background);
        outline: 0;
      }
    }
  }

  &.vs-icon__root:hover {
    background-color: var(--vscode-toolbar-hoverBackground);
  }
  &.vs-icon__root:active {
    background-color: var(--vscode-toolbar-activeBackground);
  }
}
