.qui-docs__not-found {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}

.qui-docs__not-found-url {
  color: var(--color-text-neutral-primary);
  font: var(--font-static-body-lg-default);
}
