.dark .json-model-viewer {
  background-color: #0d1117;
}

.light .json-model-viewer {
  background-color: var(--color-background-neutral-03);
}

.json-model-viewer {
  border-radius: 5px;
  font: var(--font-static-code-sm-default);
  min-width: 400px;
  padding: 6px 8px 6px 24px;
  position: relative;
  user-select: none;
  width: 100%;

  .model-gutter {
    background-color: var(--color-background-neutral-02);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 17px;
  }
}

.data-key-pair {
  user-select: text;

  &[data-is-enum-type] {
    .data-key-pair-content {
      align-items: flex-start;
      display: flex;

      .data-key {
        white-space: nowrap;
      }
    }

    .data-key-description-expand-button {
      display: none;
    }
  }

  .data-key {
    &[data-expandable] {
      cursor: pointer;
    }

    .key-required-indicator {
      color: var(--color-text-support-danger);
      display: inline-block;
      margin-top: -2px;
      user-select: none;
      vertical-align: top;
    }
  }

  .data-type-label {
    display: inline-block;
    margin: 0 2px;
    opacity: 0.8;
    user-select: none;
  }

  .data-key-description {
    color: var(--color-text-neutral-secondary);
    font: var(--font-static-code-xs-default);
    padding-left: 16px;
    position: relative;

    &::before {
      border-bottom: 1px solid var(--color-border-neutral-03);
      border-left: 1px solid var(--color-border-neutral-03);
      content: "";
      height: 10px;
      left: 2px;
      position: absolute;
      top: 1px;
      width: 10px;
    }
  }

  .data-key-description-container {
    align-items: center;
    display: inline-flex;
    gap: 2px;
  }

  .data-key-description-expand-icon {
    color: var(--color-icon-neutral-secondary);
  }

  .data-key-description-expand-button {
    &:hover {
      background: var(--color-interactive-background-ghost-hover);
    }
    align-items: center;
    border-radius: var(--border-radius-xs);
    display: inline-flex;
    gap: 4px;
    justify-content: flex-start;
  }

  .indicator {
    display: inline-block;
    margin-right: 2px;
  }

  .rest-spread {
    color: var(--color-text-neutral-secondary);
    cursor: pointer;
    display: inline-block;
    opacity: 0.8;

    &.no-select {
      user-select: none;
    }
  }

  .data-value {
    overflow-wrap: anywhere;
  }

  .simple-type {
    display: inline-block;
  }

  .simple-value {
    display: inline-block;
    margin-left: 2px;
  }

  .show-rest {
    padding: 2px;
  }

  .data-function-body {
    padding: 2px;
  }

  .inline-icon {
    display: inline;
    line-height: normal;
  }

  .expand-icon {
    height: 16px;
    left: 0;
    margin-right: 2px;
    position: absolute;
  }

  .data-object > .data-key-pair {
    margin-left: 16px;
  }

  .data-object-start {
    display: inline-block;
  }

  .data-object-end {
    display: inline-block;
  }

  .data-object-end {
    opacity: 0.8;
  }

  .data-size-label {
    display: inline-block;
    font: var(--font-static-body-xs-default);
    margin-left: 4px;
  }

  .data-ref-name-wrapper {
    display: inline-flex;
    gap: 4px;
    margin-right: 2px;
  }

  .data-ref-name {
    display: inline-block;
    font: var(--font-static-code-sm-bold);
    margin: 0 0 0 8px;

    &.inspect {
      margin: 0 0 0 8px;
    }
  }

  .data-object-body {
    padding: 2px;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }
}
