.vs-catalog-card {
  align-items: center;
  background: var(--vscode-editorWidget-background);
  border: 1px solid var(--vscode-editorWidget-border);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(var(--child-count), auto);
  padding: 12px 20px;

  &:has(.vs-catalog-card--details[data-first]) {
    grid-template-columns: min-content repeat(
        calc(var(--child-count) - 1),
        auto
      );
  }

  &:has(.vs-catalog-card--actions[data-first]) {
    grid-template-columns: min-content repeat(
        calc(var(--child-count) - 1),
        auto
      );
    &:has(.vs-catalog-card--details[data-group-index="1"]) {
      grid-template-columns: min-content min-content repeat(
          calc(var(--child-count) - 2),
          auto
        );
    }
  }
}

.vs-catalog-card--actions {
  align-items: center;
  display: flex;
  justify-content: space-between;

  &[data-group-item][data-first] {
  }
  &[data-group-item][data-last] {
    justify-self: self-end;
  }
}

.vs-catalog-card--details {
  align-items: center;
  display: grid;
  /* 5th column is defined to give the description space to expand without distorting label, tag, and badge */
  grid-template-columns: min-content min-content min-content min-content auto;
  grid-template-rows: auto;

  &:has(.vs-catalog-card--description) {
    grid-template-rows: auto auto;

    .vs-catalog-card--logo {
      grid-row: 1 / span 2;
    }
  }
}

.vs-catalog-card--logo {
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  margin-right: 20px;
}

.vs-catalog-card--label {
  color: var(--vscode-editor-foreground);
  font-size: 14px;
  font-weight: 500;
  grid-column: 2;
  grid-row: 1;
  line-height: normal;
  white-space: nowrap;
}

.vs-catalog-card--tag {
  color: var(--vscode-editor-foreground);
  font-size: 11px;
  font-weight: 500;
  grid-column: 3;
  grid-row: 1;
  line-height: normal;
  margin-top: 3px;
  padding-left: 8px;
  white-space: nowrap;
}

.vs-catalog-card--badge {
  grid-column: 4;
  grid-row: 1;
  padding-left: 8px;
  white-space: nowrap;
}

.vs-catalog-card--description {
  color: var(--vscode-editor-foreground);
  display: flex;
  font-size: 11px;
  font-weight: 500;
  grid-column: 2 / 6;
  line-height: normal;
  padding-top: 2px;
}
