@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@qualcomm-ui/tailwind-plugin/qui-strict.css";

@import "@qualcomm-ui/qds-core/styles/components.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/snapdragon-light.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/snapdragon-dark.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/dragonwing-light.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/dragonwing-dark.css" layer(components);
@import "@qualcomm-ui/react-mdx/styles.css" layer(components);

:root {
  color: var(--color-text-neutral-primary);
  color-scheme: light dark;

  font-family: "Roboto Flex", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  --q-font-mono: "Roboto Mono", monospace;
  --qui-header-height: 48px;
  --q-font-family: "Roboto Flex", sans-serif;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}

.q-header--content {
  padding: 6px 12px;
}

body {
  background: var(--color-background-neutral-02);
  display: flex;
  margin: 0;
}

svg.fsd {
  > * tspan {
    fill: var(--color-text-neutral-primary);
    font: var(--q-font-metadata-xl-mono);
  }
}

.qui-component-grid {
  box-sizing: border-box;
  display: grid;
  gap: var(--spacing-80);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin: 24px 0 0 0;
}

.qui-component-grid-item {
  align-items: center;
  background: var(--color-background-neutral-03);
  border: solid 1px var(--color-border-neutral-03);
  border-radius: var(--border-radius-md);
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  flex-direction: column;
  height: auto;
  justify-self: center;
  margin: 0;
  text-decoration: inherit;
  width: 100%;

  h3 {
    margin: 0;
  }

  img {
    display: block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
}

.qui-component-grid-item-description {
  background: var(--color-background-neutral-02);
  border-bottom-left-radius: var(--border-radius-md);
  border-bottom-right-radius: var(--border-radius-md);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  padding: 12px;
  width: 100%;
}

::view-transition-old(theme-transition),
::view-transition-new(theme-transition) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(theme-transition) {
  animation: reveal 0.5s ease-in-out;
}

@keyframes reveal {
  from {
    clip-path: circle(0 at var(--view-transition-x) var(--view-transition-y));
  }
  to {
    clip-path: circle(
      var(--view-transition-r) at var(--view-transition-x)
        var(--view-transition-y)
    );
  }
}
