.qui-breadcrumbs__list {
  align-items: center;
  display: flex;
  gap: var(--spacing-40);
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.qui-breadcrumbs__item {
  align-items: center;
  display: inline-flex;
  gap: var(--spacing-40);
  list-style-type: none;

  &:last-child {
    .qui-breadcrumbs__separator {
      display: none;
    }
    .qui-breadcrumbs__item-trigger {
      &[data-emphasis="primary"] {
        color: var(--color-interactive-text-primary-pressed);
        --icon-color: var(--color-interactive-icon-primary-pressed);
      }
      &[data-emphasis="neutral"] {
        color: var(--color-text-neutral-primary);
        --icon-color: var(--color-icon-neutral-primary);
      }
    }
  }

  &[data-disabled] {
    /* specificity is needed to override the styles of the item trigger */
    .qui-breadcrumbs__item-trigger[data-emphasis] {
      color: var(--color-utility-disabled-text);
      pointer-events: none;
      --icon-color: var(--color-utility-disabled-icon);
    }
  }
}

.qui-breadcrumbs__item-trigger {
  align-items: center;
  background-color: transparent;
  border: 0 solid;
  border-radius: var(--border-radius-sm);
  box-sizing: border-box;
  display: inline-flex;
  gap: var(--spacing-40);
  margin: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  text-decoration: none;

  &[data-size="sm"] {
    font: var(--font-static-body-xs-default);
  }
  &[data-size="md"] {
    font: var(--font-static-body-sm-default);
  }
  &[data-size="lg"] {
    font: var(--font-static-body-md-default);
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: -1px;
  }

  &[data-emphasis="primary"] {
    color: var(--color-interactive-text-primary-idle);
    --icon-color: var(--color-interactive-icon-primary-idle);

    &:hover {
      color: var(--color-interactive-text-primary-hover);
      --icon-color: var(--color-interactive-icon-primary-hover);
    }

    &:active {
      color: var(--color-interactive-text-primary-pressed);
      --icon-color: var(--color-interactive-icon-primary-pressed);
    }
  }

  &[data-emphasis="neutral"] {
    color: var(--color-text-neutral-secondary);
    --icon-color: var(--color-icon-neutral-secondary);

    &:hover {
      color: var(--color-text-neutral-secondary);
      --icon-color: var(--color-icon-neutral-secondary);
    }

    &:active {
      color: var(--color-text-neutral-primary);
      --icon-color: var(--color-icon-neutral-primary);
    }
  }
}

.qui-breadcrumbs__item-icon {
  color: var(--icon-color);

  &[data-size="sm"] {
    --icon-size: var(--sizing-60);
  }
  &[data-size="md"] {
    --icon-size: var(--sizing-70);
  }
  &[data-size="lg"] {
    --icon-size: var(--sizing-80);
  }
}

.qui-breadcrumbs__separator {
  color: var(--color-icon-neutral-secondary);
  --icon-height: var(--icon-size);
  --icon-width: var(--icon-size);
  &[data-size="sm"] {
    --icon-size: var(--sizing-60);
  }
  &[data-size="md"] {
    --icon-size: var(--sizing-70);
  }
  &[data-size="lg"] {
    --icon-size: var(--sizing-80);
  }
}

.qui-breadcrumbs__item-tooltip {
  background-color: var(--color-background-neutral-10);
  border-radius: var(--border-radius-xs);
  bottom: calc(100% + 8px);
  box-shadow: var(--shadow-high);
  color: var(--color-text-neutral-inverse);
  display: none;
  font: var(--font-static-body-xs-default);
  left: 50%;
  opacity: 0;
  padding-block: var(--spacing-40);
  padding-inline: var(--spacing-70);
  pointer-events: none;
  position: absolute;
  transform: translateX(-50%);
  transition:
    opacity 130ms ease-in-out,
    display 130ms ease-in-out allow-discrete;
  white-space: nowrap;
  width: max-content;

  .qui-breadcrumbs__item-trigger:not([data-disabled]):is(:hover, :focus-visible)
    & {
    display: block;
    opacity: 1;
  }

  @starting-style {
    .qui-breadcrumbs__item-trigger:not([data-disabled]):is(
        :hover,
        :focus-visible
      )
      & {
      opacity: 0;
    }
  }

  /* arrow */
  &::after {
    background-color: var(--color-background-neutral-10);
    content: "";
    height: 8px;
    left: 50%;
    position: absolute;
    top: 100%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    width: 8px;
  }
}
