.openapi-parameter-list {
  margin-top: var(--spacing-100);
}

.openapi-parameter-list__title {
  font: var(--font-static-body-lg-medium);
  color: var(--color-text-neutral-primary);
  margin-top: var(--spacing-70);
  margin-bottom: var(--spacing-70);
  line-height: 1.45;
}

.openapi-parameter-list__items {
  list-style: none;
  margin: 0;
  margin-bottom: var(--spacing-70);
  padding: 0;
  font: var(--font-static-body-sm-default);
}
