@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@qualcomm-ui/qds-core/styles/components.css";
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css";
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css";

html {
  height: 100%;
}

body {
  background-color: var(--color-background-neutral-01);
  font-family: "Roboto Flex", system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
}
