@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

@import "@qualcomm-ui/qds-core/styles/components.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-dark.css" layer(components);
@import "@qualcomm-ui/qds-core/themes/qualcomm-light.css" layer(components);

@source "../../../docs/angular-docs/src/routes/components+";
@source "./app";

:root {
  color-scheme: light dark;

  font-family: "Roboto Flex", system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  --q-font-mono: "Roboto Mono", monospace;
  --qui-header-height: 48px;
  --q-font-family: "Roboto Flex", sans-serif;
}

html {
  background-color: var(--color-background-neutral-01);
  color: var(--color-text-neutral-primary);
  color-scheme: var(--color-scheme);
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.section {
  margin-bottom: 3rem;
}

.section-title {
  color: var(--color-text-neutral-primary);
  font: var(--font-static-heading-md-default);
  margin-bottom: 1rem;
}

.demo-container {
  background-color: var(--color-background-neutral-01);
  border: 1px solid var(--color-border-neutral-01);
  border-radius: 8px;
  padding: 2rem;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 2rem;
}
