:root {
  --qui-docs-search-width: calc(95vw - 32px);
  @media (min-width: 640px) {
    --qui-docs-search-width: calc(80vw - 32px);
  }
  @media (min-width: 1024px) {
    --qui-docs-search-width: 800px;
  }
}

.qui-site-search__floating-panel-mobile {
  background: var(--color-background-neutral-03);
  border-radius: var(--border-radius-md);
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  width: var(--qui-docs-search-width);
}

.qui-site-search__trigger {
  width: 100%;
}

.qui-site-search__mobile-icon-button {
  @container (min-width: 850px) {
    display: none;
  }
}

.qui-site-search__text-input {
  display: none;
  margin-right: 4px;
  width: 185px;
  @container (min-width: 850px) {
    display: flex;
  }

  .qds-kbd {
    font-size: 11px;
  }
}

.qui-site-search__mobile-dialog-backdrop.qui-dialog__backdrop {
  backdrop-filter: blur(1px);
}

.qui-site-search__mobile-dialog-content.qui-dialog__content {
  width: var(--qui-docs-search-width);
}

.qui-site-search__mobile-input-wrapper {
  display: flex;
  elevation: var(--shadow-medium);
  flex-direction: column;
  margin: 0 auto;
  width: 100%;

  .qui-text-input__root {
    width: 100%;
  }

  @media (min-width: 640px) {
    width: var(--qui-docs-search-width);
  }
}

.qui-site-search__bar {
  background: var(--color-background-neutral-03);
  max-width: 300px;
  min-width: 300px;
}

.qui-site-search__result-group-wrapper {
  display: flex;
  flex-direction: column;
}

.qui-site-search__result-group {
  border-left: solid 1px var(--color-border-neutral-01);
}

.qui-site-search__results {
  background: var(--color-background-neutral-03);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 10px;
  text-overflow: ellipsis;
  width: 100%;
}

.qui-site-search__item-icon {
  min-width: 22px;
}

.qui-site-search__list-item {
  align-items: center;
  border: solid 1px transparent;
  border-radius: 5px;
  container-type: inline-size;
  display: flex;
  gap: 8px;
  outline: none;
  padding: 8px 10px 6px 10px;
  text-decoration: inherit;

  &[data-child] {
    padding: 6px 10px 4px 16px;
  }

  &[data-group-title] {
    font: var(--font-static-heading-xxs-bold);
    padding: 12px 10px 12px 10px;
  }

  &[data-highlighted][data-focus-visible] {
    border-color: var(--color-utility-focus-border);
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: -2px;
  }
}

.qui-site-search__list-item-content {
  display: flex;
  flex-direction: column;
  max-width: calc(100cqw - 24px);
}

.qui-site-search__metadata {
  color: var(--color-text-neutral-secondary);
  font: var(--font-static-body-xs-bold);
  margin-top: 2px;
}

.qui-site-search__section-title {
  color: var(--color-text-neutral-primary);
  font: var(--font-static-body-sm-bold);
}

.qui-site-search__content {
  color: var(--color-text-neutral-primary);
  display: inline-block;
  font: var(--font-static-body-sm-default);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.qui-site-search__no-results {
  align-items: center;
  color: var(--color-text-neutral-primary);
  display: flex;
  font: var(--font-static-heading-xxs-default);
  min-height: 48px;
  padding: 0 12px;
  width: 100%;
}

.qui-site-search__content {
  mark {
    background: var(--color-background-neutral-10);
    border-radius: 2px;
    color: var(--color-text-neutral-inverse);
  }
}

.qui-site-search__category-header {
  color: var(--color-text-neutral-secondary);
  padding: 8px 12px;
}

.qui-site-search__result-group {
  margin-left: 20px;
}
