.vs-dialog__backdrop {
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  inset: 0;
  overflow: hidden;
  position: fixed;
  width: 100vw;
  z-index: 2600;

  &[data-state="closed"],
  &[data-hidden] {
    display: none !important;
  }
}

.vs-dialog__positioner {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 2600;
}

.vs-dialog__content {
  background: var(--vscode-editorWidget-background);
  box-shadow: 0 0 8px 2px var(--vscode-widget-shadow);
  box-sizing: border-box;
  color: var(--vscode-editorWidget-foreground, var(--vscode-foreground));
  display: flex;
  flex-direction: column;
  max-width: 536px;
  position: relative;
  width: 100%;

  &[hidden] {
    display: none !important;
  }
}

.vs-dialog__body {
  display: grid;
  grid-template-columns: auto;
  padding: 24px;
  row-gap: 12px;

  .vs-dialog__heading {
    grid-column: 1;
    grid-row: 1;
  }

  .vs-dialog__description {
    grid-column: 1;
    grid-row: 2;
  }

  &:has(.vs-dialog__indicator-icon) {
    column-gap: 24px;
    grid-template-columns: min-content auto;

    .vs-dialog__heading,
    .vs-dialog__description {
      grid-column: 2;
    }

    .vs-dialog__indicator-icon {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
  }

  &:has(+ :not(.vs-dialog__footer), :only-child) {
    padding-bottom: 24px;
  }
}

.vs-dialog__heading {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.36px;
  margin: 0;

  .vs-dialog__content:has(.vs-dialog__close-button) & {
    padding-right: 32px;
  }
}

.vs-dialog__description {
  font-size: 13px;
  font-weight: 500;
  margin: 0;
}

.vs-dialog__footer {
  box-sizing: border-box;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  padding: 0 24px 24px;
  width: 100%;
}

.vs-dialog__close-button {
  align-self: flex-start;
  color: var(--vscode-icon-foreground);
  position: absolute;
  right: 24px;
  top: 24px;
}
