name: "Code Quality Checks"
on:
  pull_request:
    # Run every time a PR to origin/main is created or updated
    types: [ opened, synchronize ]
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  lint:
    env:
      IS_CI: true
    runs-on: ubuntu-latest
    concurrency:
      group: PR Lint Changed - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: clone
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: fetch base ref
      run: git fetch origin ${{ github.event.pull_request.base.sha }}

    - uses: ./.github/actions/setup-node-and-install

    - name: lint changed files
      run: pnpm tsx scripts/lint-changed.ts ${{ github.event.pull_request.base.sha }}

  build:
    env:
      IS_CI: true
    runs-on: ubuntu-latest
    concurrency:
      group: PR Build - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: clone
      id: install
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - uses: ./.github/actions/setup-node-and-install

    - name: build
      run: pnpm run build

  unit-test:
    env:
      IS_CI: true
    runs-on: self-hosted
    concurrency:
      group: PR Unit Test v2 - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: clone and install
      id: install
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}

    - uses: ./.github/actions/setup-node-and-install

    - name: unit tests
      run: pnpm run test:unit:ci

  # also run repolinter on PRs
  # TODO: run using qcom-preflight-checks once it's updated to incorporate the batching PR
  copyright-license-check:
    if: ${{ ( contains('pull_request_target', github.event_name) && github.event.action != 'closed' ) }}
    runs-on: ubuntu-latest
    concurrency:
      group: PR copyright-license-check - ${{github.head_ref}}
      cancel-in-progress: true
    steps:
    - name: Checkout PR head
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Full history so we can diff properly
        ref: ${{ github.event.pull_request.head.ref }}
        repository: ${{ github.event.pull_request.head.repo.full_name }}

    - name: Add PR base repo as remote and fetch it
      run: |
        git remote add upstream https://github.com/${{ github.event.pull_request.base.repo.full_name }}.git
        git fetch upstream

    - name: Generate final patch between base and head
      run: |
        git diff upstream/${{ github.event.pull_request.base.ref }} > pr.patch
        head -n 100 pr.patch

    - name: Run copyright/license detector
      uses: qualcomm/copyright-license-checker-action@v1.0.1-beta
      with:
        patch_file: pr.patch
        repo_name: ${{ github.repository }}
