name: "Code Quality Checks"
on:
  pull_request:
    # Run every time a PR to origin/main is created or updated
    types: [ "opened", "synchronize" ]
    branches: [ "main", "dev" ]
  workflow_dispatch:

jobs:
  lint:
    env:
      IS_CI: true
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shardIndex: [ 1, 2, 3 ]
        shardTotal: [ 3 ]
    concurrency:
      group: PR Lint - ${{matrix.shardIndex}} - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: clone
      id: install
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - uses: ./.github/actions/clone-and-install

    - name: lint
      run: pnpm tsx scripts/lint-shard.ts --shard=${{matrix.shardIndex}}/${{matrix.shardTotal}}

  build:
    env:
      IS_CI: true
    runs-on: ubuntu-latest
    concurrency:
      group: PR Build - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: clone
      id: install
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - uses: ./.github/actions/clone-and-install

    - name: build
      run: pnpm run build

  # also run repolinter on PRs
  repolinter-pr:
    runs-on: ubuntu-latest
    concurrency:
      group: PR Repolint - ${{github.head_ref}}
      cancel-in-progress: true
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}
    - name: Verify repolinter config file is present
      id: check_files
      uses: andstor/file-existence-action@v3
      with:
        files: "repolint.json"
    - name: Run Repolinter with local repolint.json
      if: steps.check_files.outputs.files_exists == 'true'
      uses: todogroup/repolinter-action@v1
      with:
        config_file: "repolint.json"
    - name: Run Repolinter with default ruleset
      if: steps.check_files.outputs.files_exists == 'false'
      uses: todogroup/repolinter-action@v1
      with:
        config_url: "https://raw.githubusercontent.com/qualcomm/.github/main/repolint.json"
