name: Deploy Angular Docs

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: --privileged
        ports:
        - 2375:2375
    container:
      image: ubuntu:latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: install docker
      run: |
        apt-get update
        apt-get install -y docker.io

    - name: build angular docs
      run: docker buildx build --file dockerfiles/dockerfile-angular-docs .

    - name: push angular docs
      run: echo NOT IMPLEMENTED
