name: Deploy React Docs

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: build react docs
      run: docker buildx build -f dockerfiles/dockerfile-react-docs .

    - name: push react docs
      run: echo NOT IMPLEMENTED
