name: Deploy Angular Docs

on:
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - name: build angular docs
      run: docker buildx build -f dockerfiles/dockerfile-angular-docs .

    - name: push angular docs
      run: echo NOT IMPLEMENTED
