name: "Publish Packages and Create Releases"
env:
  IS_CI: true
  TURBO_API: "http://127.0.0.1:8585"
  TURBO_TEAM: "qualcomm-ui"
  TURBO_TOKEN: "turbo-cache-token"
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  publish-and-create-releases:
    runs-on: ubuntu-latest
    concurrency:
      group: PR Build - ${{github.head_ref}}
      cancel-in-progress: true
    timeout-minutes: 10
    steps:
    - name: checkout
      uses: actions/checkout@v4
      with:
        ref: ${{ github.head_ref }}

    - uses: ./.github/actions/init-node-and-install

    - uses: ./.github/actions/init-remote-cache
      with:
        turborepo-remote-cache-bucket-name: ${{ secrets.TURBOREPO_REMOTE_CACHE_BUCKET_NAME }}
        turborepo-remote-cache-access-key: ${{ secrets.TURBOREPO_REMOTE_CACHE_ACCESS_KEY }}
        turborepo-remote-cache-secret-key: ${{ secrets.TURBOREPO_REMOTE_CACHE_SECRET_KEY }}

    - name: build
      run: pnpm run build

    - name: update npm
      run: |
        npm --version
        npm install -g npm@latest
        npm --version

    - name: publish
      run: pnpm publish:all

    - name: create releases
      run: pnpm tsx scripts/release/create-github-releases.ts
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
