.qui-header-bar__root {
  align-items: center;
  border-bottom: solid 1px var(--color-border-neutral-01);
  box-sizing: border-box;
  display: flex;
  height: var(--sizing-160);
  min-width: fit-content;
  padding: 0 var(--spacing-100);
  width: 100%;

  &[data-size="lg"] {
    height: 72px;
  }

  &[data-surface="primary"] {
    background: var(--color-surface-primary);
  }

  &[data-surface="secondary"] {
    background: var(--color-surface-secondary);
  }
}

.qui-header-bar__logo {
  align-items: center;
  color: var(--color-text-neutral-primary);
  display: flex;
  font: var(--font-static-body-sm-bold);
  gap: var(--spacing-90);
  margin-right: var(--spacing-90);
  white-space: nowrap;

  & + .qui-header-bar__divider {
    margin: 0 var(--spacing-110) 0 var(--spacing-70);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.qui-header-bar__nav {
  align-items: center;
  display: flex;
  gap: var(--spacing-110);
  margin-right: var(--spacing-180);
}

.qui-header-bar__nav-item {
  align-items: center;
  border: solid 1px transparent;
  border-radius: var(--border-radius-xs);
  box-sizing: border-box;
  color: var(--color-text-neutral-secondary);
  display: inline-flex;
  font: var(--font-static-body-sm-bold);
  gap: var(--spacing-40);
  outline: none;
  padding: 0 var(--spacing-20);
  text-decoration: inherit;
  transition:
    background-color var(--animation-duration-faster) ease-out,
    color var(--animation-duration-faster) ease-out;
  --icon-color: var(--color-icon-neutral-secondary);

  .qui-icon__root {
    --icon-size: var(--sizing-70);
  }

  &:hover,
  &:active,
  &[data-active],
  &[data-state="open"] {
    color: var(--color-text-neutral-primary);
    --icon-color: var(--color-icon-neutral-primary);
  }

  &:focus-visible {
    border-color: var(--color-utility-focus-border);
    outline: solid 1px var(--color-utility-focus-border);
  }

  &[data-disabled] {
    color: var(--color-utility-disabled-text);
    pointer-events: none;
    --icon-color: var(--color-utility-disabled-icon);
  }

  .qui-icon__root[data-part="end-icon"] {
    transition: transform var(--animation-duration-faster) ease-out;
  }

  &[data-state="open"] {
    .qui-icon__root[data-part="end-icon"] {
      transform: rotate(180deg);
    }
  }
}

a.qui-header-bar__nav-item {
  &:focus-visible {
    border-color: var(--color-utility-focus-border);
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: -1px;
  }
}

.qui-header-bar__divider {
  align-self: center;
  background: var(--color-border-neutral-01);
  content: "";
  height: 20px;
  width: 1px;

  + .qui-avatar__root {
    margin-left: var(--spacing-70);
  }
}

.qui-header-bar__action-bar {
  align-items: center;
  display: flex;
  gap: var(--spacing-40);
  margin-left: auto;
}
